In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [2]:
kaggle_dataset = pd.read_csv('data/taxi_trip_data.csv', nrows = 15_000_000)

In [4]:
kaggle_dataset.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id
0,2,2018-03-29 13:37:13,2018-03-29 14:17:01,1,18.15,3,N,1,70.0,0.0,0.0,16.16,10.50,0.3,96.96,161,1
1,2,2018-03-29 13:37:18,2018-03-29 14:15:33,1,4.59,1,N,1,25.0,0.0,0.5,5.16,0.00,0.3,30.96,13,230
2,2,2018-03-29 13:26:57,2018-03-29 13:28:03,1,0.30,1,N,1,3.0,0.0,0.5,0.76,0.00,0.3,4.56,231,231
3,2,2018-03-29 13:07:48,2018-03-29 14:03:05,2,16.97,1,N,1,49.5,0.0,0.5,5.61,5.76,0.3,61.67,231,138
4,2,2018-03-29 14:19:11,2018-03-29 15:19:59,5,14.45,1,N,1,45.5,0.0,0.5,10.41,5.76,0.3,62.47,87,138

In [7]:
kaggle_dataset.dtypes

vendor_id                int64
pickup_datetime         object
dropoff_datetime        object
passenger_count          int64
trip_distance          float64
rate_code                int64
store_and_fwd_flag      object
payment_type             int64
fare_amount            float64
extra                  float64
mta_tax                float64
tip_amount             float64
tolls_amount           float64
imp_surcharge          float64
total_amount           float64
pickup_location_id       int64
dropoff_location_id      int64
dtype: object

In [59]:
# read entire dataset (~40gb)
nyc_2016_2022 = pd.read_csv('data/nyc_taxi_data_2016_2022.csv')

KeyboardInterrupt:

In [3]:
# read random sample of dataset (about 5%)
nyc_2016_2022 = pd.read_csv('data/nyc_taxi_data_2016_2022.csv', index_col = 0, header = 0, skiprows = lambda i: i > 0 and random.random() > 0.05)

In [4]:
# read first few tows
nyc_2016_2022.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
Unnamed: 0,,,,,,,,,,,,,,,,,,,
22,1,2022-10-01 00:25:29,2022-10-01 00:35:49,3.0,4.1,1.0,N,45,233,1,13.5,3.0,0.5,0.0,0.0,0.3,17.3,2.5,0.0
53,2,2022-10-01 00:03:16,2022-10-01 00:14:10,1.0,3.31,1.0,N,137,263,1,11.5,0.5,0.5,3.06,0.0,0.3,18.36,2.5,0.0
63,2,2022-10-01 00:26:32,2022-10-01 01:07:56,2.0,8.09,1.0,N,79,168,2,32.5,0.5,0.5,0.0,0.0,0.3,36.3,2.5,0.0
97,2,2022-10-01 00:45:54,2022-10-01 00:55:18,1.0,1.78,1.0,N,234,100,1,8.5,0.5,0.5,2.0,0.0,0.3,14.3,2.5,0.0
111,2,2022-10-01 00:29:57,2022-10-01 00:34:37,1.0,0.31,1.0,N,264,79,4,4.5,0.5,0.5,0.0,0.0,0.3,8.3,2.5,0.0

In [5]:
# check datatypes
nyc_2016_2022.dtypes

VendorID                 object
tpep_pickup_datetime     object
tpep_dropoff_datetime    object
passenger_count          object
trip_distance            object
RatecodeID               object
store_and_fwd_flag       object
PULocationID             object
DOLocationID             object
payment_type             object
fare_amount              object
extra                    object
mta_tax                  object
tip_amount               object
tolls_amount             object
improvement_surcharge    object
total_amount             object
congestion_surcharge     object
airport_fee              object
dtype: object

In [6]:
# find null columns
nyc_2016_2022.isnull().sum().sort_index()/len(nyc_2016_2022)

DOLocationID             0.000000
PULocationID             0.000000
RatecodeID               0.009920
VendorID                 0.000000
airport_fee              0.851985
congestion_surcharge     0.588396
extra                    0.000000
fare_amount              0.000000
improvement_surcharge    0.000000
mta_tax                  0.000000
passenger_count          0.009920
payment_type             0.000000
store_and_fwd_flag       0.009920
tip_amount               0.000000
tolls_amount             0.000000
total_amount             0.000000
tpep_dropoff_datetime    0.000000
tpep_pickup_datetime     0.000000
trip_distance            0.000000
dtype: float64

In [11]:
# remove null values, fill missed values with 0
nyc_2016_2022.dropna(subset=['RatecodeID', 'airport_fee', 'congestion_surcharge', 'passenger_count', 'store_and_fwd_flag'], inplace = True)
nyc_2016_2022.fillna(0)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
Unnamed: 0,,,,,,,,,,,,,,,,,,,
22,1,2022-10-01 00:25:29,2022-10-01 00:35:49,3.0,4.10,1.0,N,45.0,233.0,1.0,13.5,3.0,0.5,0.00,0.0,0.3,17.30,2.5,0.00
53,2,2022-10-01 00:03:16,2022-10-01 00:14:10,1.0,3.31,1.0,N,137.0,263.0,1.0,11.5,0.5,0.5,3.06,0.0,0.3,18.36,2.5,0.00
63,2,2022-10-01 00:26:32,2022-10-01 01:07:56,2.0,8.09,1.0,N,79.0,168.0,2.0,32.5,0.5,0.5,0.00,0.0,0.3,36.30,2.5,0.00
97,2,2022-10-01 00:45:54,2022-10-01 00:55:18,1.0,1.78,1.0,N,234.0,100.0,1.0,8.5,0.5,0.5,2.00,0.0,0.3,14.30,2.5,0.00
111,2,2022-10-01 00:29:57,2022-10-01 00:34:37,1.0,0.31,1.0,N,264.0,79.0,4.0,4.5,0.5,0.5,0.00,0.0,0.3,8.30,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2820849,2,2021-09-30 23:30:48,2021-10-01 00:15:38,2.0,22.27,2.0,N,132.0,143.0,1.0,52.0,0.0,0.5,3.00,0.0,0.3,59.55,2.5,1.25
2820863,2,2021-09-30 23:33:35,2021-09-30 23:37:47,1.0,0.63,1.0,N,161.0,230.0,2.0,4.5,0.5,0.5,0.00,0.0,0.3,8.30,2.5,0.00
2820869,1,2021-09-30 23:50:16,2021-10-01 00:02:17,1.0,2.40,1.0,N,142.0,236.0,1.0,11.0,3.0,0.5,2.95,0.0,0.3,17.75,2.5,0.00
2820919,1,2021-09-30 23:23:16,2021-09-30 23:36:13,2.0,2.00,1.0,N,137.0,50.0,1.0,10.5,3.0,0.5,2.85,0.0,0.3,17.15,2.5,0.00
482627,1,2020-09-14 09:34:08,2020-09-14 09:46:30,0.0,2.20,1.0,Y,162.0,141.0,1.0,10.0,2.5,0.5,2.65,0.0,0.3,15.95,2.5,0.00

In [12]:
# convert columns to correct datatypes
convert_columns_float = {
                    'trip_distance': float, 
                    'fare_amount': float, 
                    'extra': float, 
                    'mta_tax': float,
                    'tip_amount': float,
                    'tolls_amount': float,
                    'improvement_surcharge': float,
                    'total_amount': float,
                    'congestion_surcharge': float,
                    'airport_fee': float
                    }
convert_columns_int = {
                    'passenger_count': int,
                    'RatecodeID': int, 
                    'payment_type': int, 
                    'PULocationID': int,
                    'DOLocationID': int
                     }

for column in convert_columns_float.keys():
    nyc_2016_2022[column] = pd.to_numeric(nyc_2016_2022[column], errors='coerce')
for column in convert_columns_int.keys():
    nyc_2016_2022[column] = pd.to_numeric(nyc_2016_2022[column], downcast= 'signed', errors='coerce')
# nyc_2016_2022.astype(convert_columns_float)
# nyc_2016_2022.astype(convert_columns_int)

In [13]:
# parse dates
# if does not work run previous two cells again
nyc_2016_2022['tpep_pickup_datetime'] = pd.to_datetime(nyc_2016_2022['tpep_pickup_datetime'])
nyc_2016_2022['tpep_dropoff_datetime'] = pd.to_datetime(nyc_2016_2022['tpep_dropoff_datetime'])

In [14]:
nyc_2016_2022.dtypes

VendorID                         object
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                    int8
trip_distance                   float64
RatecodeID                         int8
store_and_fwd_flag               object
PULocationID                      int16
DOLocationID                      int16
payment_type                       int8
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [15]:
nyc_2016_2022.describe()

,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06,3.011874e+06
mean,1.411791e+00,3.330400e+00,1.288225e+00,1.649842e+02,1.629319e+02,1.236998e+00,1.388701e+01,1.039238e+00,4.900670e-01,2.572209e+00,4.686222e-01,2.964519e-01,2.042989e+01,2.287455e+00,8.627975e-02
std,9.920160e-01,4.708841e+00,4.634848e+00,6.520416e+01,7.025194e+01,4.709380e-01,1.451777e+01,1.250305e+00,8.785018e-02,3.088324e+00,1.920098e+00,4.555864e-02,1.757447e+01,7.370391e-01,3.195583e-01
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-7.000000e+02,-5.500000e+00,-5.000000e-01,-1.111000e+02,-4.060000e+01,-3.000000e-01,-7.028000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,1.100000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,7.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.180000e+01,2.500000e+00,0.000000e+00
50%,1.000000e+00,1.830000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.000000e+01,5.000000e-01,5.000000e-01,2.060000e+00,0.000000e+00,3.000000e-01,1.536000e+01,2.500000e+00,0.000000e+00
75%,1.000000e+00,3.360000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,1.550000e+01,2.500000e+00,5.000000e-01,3.200000e+00,0.000000e+00,3.000000e-01,2.180000e+01,2.500000e+00,0.000000e+00
max,9.000000e+00,2.323210e+03,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,6.993000e+03,8.756000e+01,5.800000e+00,4.000000e+02,6.620500e+02,1.000000e+00,7.003850e+03,2.750000e+00,1.250000e+00

In [16]:
# remove data that does not make sense: 
# negative extra, mta_tax, tip_amount, tolls_amount, etc
# fare amount starts at $3.00 for yellow cab
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['fare_amount'] < 3].index, axis = 0)
# getting rid of fare amounts costing hundreds / thousands of dollars
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['fare_amount'] > 300].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['extra'] < 0].index, axis = 0)
# mta tax starts at $0.50
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['mta_tax'] < 0.5].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['tip_amount'] < 0].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['tolls_amount'] < 0].index, axis = 0)
# improvement surcharge starts at $0.30
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['improvement_surcharge'] < 0.3].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['total_amount'] < 0].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['congestion_surcharge'] < 0].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['airport_fee'] < 0].index, axis = 0)
# remove passenger count over 6 (maximum possible 6 by New York Law)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['passenger_count'] > 6].index, axis = 0)
# removing huge trip distances, NYC is about 300 sq feet
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['trip_distance'] > 300].index, axis = 0)

In [17]:
# extracting possible useful features
nyc_2016_2022['fare_per_mile'] = nyc_2016_2022['fare_amount'] / nyc_2016_2022['trip_distance']
nyc_2016_2022['year'] = nyc_2016_2022.tpep_pickup_datetime.dt.year
nyc_2016_2022['month'] = nyc_2016_2022.tpep_pickup_datetime.dt.day
nyc_2016_2022['day_of_week'] = nyc_2016_2022.tpep_pickup_datetime.dt.weekday
nyc_2016_2022['day_of_month'] = nyc_2016_2022.tpep_pickup_datetime.dt.month
nyc_2016_2022['hour'] = nyc_2016_2022.tpep_pickup_datetime.dt.hour
nyc_2016_2022['minute'] = nyc_2016_2022.tpep_pickup_datetime.dt.minute
nyc_2016_2022['second'] = nyc_2016_2022.tpep_pickup_datetime.dt.second

In [18]:
# drop datetime param since features extracted
nyc_2016_2022.drop(columns = ['tpep_pickup_datetime', 'tpep_dropoff_datetime'], inplace = True)

In [19]:
nyc_2016_2022.drop(columns = ['store_and_fwd_flag'], inplace = True)

In [20]:
nyc_2016_2022.head()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,...,congestion_surcharge,airport_fee,fare_per_mile,year,month,day_of_week,day_of_month,hour,minute,second
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
22,1,3,4.10,1,45,233,1,13.5,3.0,0.5,...,2.5,0.0,3.292683,2022,1,5,10,0,25,29
53,2,1,3.31,1,137,263,1,11.5,0.5,0.5,...,2.5,0.0,3.474320,2022,1,5,10,0,3,16
63,2,2,8.09,1,79,168,2,32.5,0.5,0.5,...,2.5,0.0,4.017305,2022,1,5,10,0,26,32
97,2,1,1.78,1,234,100,1,8.5,0.5,0.5,...,2.5,0.0,4.775281,2022,1,5,10,0,45,54
111,2,1,0.31,1,264,79,4,4.5,0.5,0.5,...,2.5,0.0,14.516129,2022,1,5,10,0,29,57

In [21]:
nyc_2016_2022.dtypes

VendorID                  object
passenger_count             int8
trip_distance            float64
RatecodeID                  int8
PULocationID               int16
DOLocationID               int16
payment_type                int8
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
airport_fee              float64
fare_per_mile            float64
year                       int64
month                      int64
day_of_week                int64
day_of_month               int64
hour                       int64
minute                     int64
second                     int64
dtype: object

In [41]:
# splitting data
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler

In [30]:
nyc_2016_2022.replace([np.inf, -np.inf], np.nan, inplace=True)
nyc_2016_2022.fillna(0, inplace=True)

In [31]:
X = nyc_2016_2022.iloc[:, nyc_2016_2022.columns != "fare_amount"]
y = nyc_2016_2022['fare_amount']
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 42, shuffle = True)

In [32]:
# normalize data
scaler = StandardScaler()

In [33]:
X_train = scaler.fit_transform(X_train)

In [34]:
X_valid = scaler.transform(X_valid)

In [35]:
linReg = LinearRegression()

In [36]:
linReg.fit(X_train, y_train)

LinearRegression()

In [37]:
y_predicted = linReg.predict(X_valid)

In [40]:
print('Validation Root Mean Squared Error: ', np.sqrt(mean_squared_error(y_valid, y_predicted)))

Validation RMSE:  0.25232995618948756

In [42]:
print('Validation Mean Absolute Error', mean_absolute_error(y_valid, y_predicted))

Validation Mean Absolute Error 0.12720273207030414