In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplot
import seaborn as sns
import random

In [6]:
kaggle_dataset = pd.read_csv('data/taxi_trip_data.csv', nrows = 15_000_000)

In [4]:
kaggle_dataset.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id
0,2,2018-03-29 13:37:13,2018-03-29 14:17:01,1,18.15,3,N,1,70.0,0.0,0.0,16.16,10.50,0.3,96.96,161,1
1,2,2018-03-29 13:37:18,2018-03-29 14:15:33,1,4.59,1,N,1,25.0,0.0,0.5,5.16,0.00,0.3,30.96,13,230
2,2,2018-03-29 13:26:57,2018-03-29 13:28:03,1,0.30,1,N,1,3.0,0.0,0.5,0.76,0.00,0.3,4.56,231,231
3,2,2018-03-29 13:07:48,2018-03-29 14:03:05,2,16.97,1,N,1,49.5,0.0,0.5,5.61,5.76,0.3,61.67,231,138
4,2,2018-03-29 14:19:11,2018-03-29 15:19:59,5,14.45,1,N,1,45.5,0.0,0.5,10.41,5.76,0.3,62.47,87,138

In [7]:
kaggle_dataset.dtypes

vendor_id                int64
pickup_datetime         object
dropoff_datetime        object
passenger_count          int64
trip_distance          float64
rate_code                int64
store_and_fwd_flag      object
payment_type             int64
fare_amount            float64
extra                  float64
mta_tax                float64
tip_amount             float64
tolls_amount           float64
imp_surcharge          float64
total_amount           float64
pickup_location_id       int64
dropoff_location_id      int64
dtype: object

In [4]:
# read entire dataset (~40gb)
nyc_taxi_data_2016_2022 = pd.read_csv('data/nyc_taxi_data_2016_2022.csv')

In [2]:
# read random sample of dataset (about 5%)
nyc_taxi_data_2016_2022 = pd.read_csv('data/nyc_taxi_data_2016_2022.csv', index_col = 0,header = 0, skiprows = lambda i: i > 0 and random.random() > 0.05)

In [3]:
# read first few tows
nyc_taxi_data_2016_2022.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,7,1,2022-10-01 00:02:42,2022-10-01 00:50:01,1.0,12.2,1.0,N,100,22,1,41.0,3.0,0.5,3.0,0.0,0.3,47.8,2.5,0.0
1,19,2,2022-10-01 00:22:29,2022-10-01 00:33:53,2.0,1.67,1.0,N,249,224,1,8.5,0.5,0.5,2.46,0.0,0.3,14.76,2.5,0.0
2,36,2,2022-10-01 00:24:59,2022-10-01 00:52:10,1.0,5.68,1.0,N,163,129,1,22.0,0.5,0.5,5.0,0.0,0.3,30.8,2.5,0.0
3,69,2,2022-10-01 00:08:34,2022-10-01 00:25:20,1.0,1.84,1.0,N,125,87,1,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,0.0
4,73,2,2022-10-01 00:57:39,2022-10-01 01:25:22,3.0,9.17,1.0,N,231,198,1,29.5,0.5,0.5,8.32,0.0,0.3,41.62,2.5,0.0

In [31]:
# check datatypes
nyc_taxi_data_2016_2022.dtypes

Unnamed: 0               object
VendorID                 object
tpep_pickup_datetime     object
tpep_dropoff_datetime    object
passenger_count          object
trip_distance            object
RatecodeID               object
store_and_fwd_flag       object
PULocationID             object
DOLocationID             object
payment_type             object
fare_amount              object
extra                    object
mta_tax                  object
tip_amount               object
tolls_amount             object
improvement_surcharge    object
total_amount             object
congestion_surcharge     object
airport_fee              object
dtype: object

In [23]:
# find null columns
nyc_taxi_data_2016_2022.isnull().sum().sort_index()/len(nyc_taxi_data_2016_2022)

DOLocationID             0.0
PULocationID             0.0
RatecodeID               0.0
Unnamed: 0               0.0
VendorID                 0.0
airport_fee              0.0
congestion_surcharge     0.0
extra                    0.0
fare_amount              0.0
improvement_surcharge    0.0
mta_tax                  0.0
passenger_count          0.0
payment_type             0.0
store_and_fwd_flag       0.0
tip_amount               0.0
tolls_amount             0.0
total_amount             0.0
tpep_dropoff_datetime    0.0
tpep_pickup_datetime     0.0
trip_distance            0.0
dtype: float64

In [40]:
# remove null values, fill missed values with 0
nyc_taxi_data_2016_2022.dropna(subset=['RatecodeID', 'airport_fee', 'congestion_surcharge', 'passenger_count', 'store_and_fwd_flag'], inplace = True)
nyc_taxi_data_2016_2022.fillna(0)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,7,1,2022-10-01 00:02:42,2022-10-01 00:50:01,1.0,12.20,1.0,N,100,22,1.0,41.0,3.0,0.5,3.00,0.0,0.3,47.80,2.5,0.0
1,19,2,2022-10-01 00:22:29,2022-10-01 00:33:53,2.0,1.67,1.0,N,249,224,1.0,8.5,0.5,0.5,2.46,0.0,0.3,14.76,2.5,0.0
2,36,2,2022-10-01 00:24:59,2022-10-01 00:52:10,1.0,5.68,1.0,N,163,129,1.0,22.0,0.5,0.5,5.00,0.0,0.3,30.80,2.5,0.0
3,69,2,2022-10-01 00:08:34,2022-10-01 00:25:20,1.0,1.84,1.0,N,125,87,1.0,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,0.0
4,73,2,2022-10-01 00:57:39,2022-10-01 01:25:22,3.0,9.17,1.0,N,231,198,1.0,29.5,0.5,0.5,8.32,0.0,0.3,41.62,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3352902,2820920,1,2021-09-30 23:44:36,2021-09-30 23:54:38,1.0,1.90,1.0,N,161,137,2.0,9.0,3.0,0.5,0.00,0.0,0.3,12.80,2.5,0.0
3352903,2820928,2,2021-09-30 23:08:51,2021-09-30 23:19:21,1.0,2.06,1.0,N,142,229,1.0,9.5,0.5,0.5,1.25,0.0,0.3,14.55,2.5,0.0
3510833,2924,1,2020-12-01 07:50:43,2020-12-01 07:50:58,1.0,0.10,1.0,Y,19,19,3.0,2.5,0.0,0.5,0.00,0.0,0.3,3.30,0.0,0.0
4109352,182399,1,2020-11-04 23:55:03,2020-11-05 00:00:01,1.0,1.40,1.0,Y,186,137,1.0,6.5,3.0,0.5,2.00,0.0,0.3,12.30,2.5,0.0
10215033,2788636,1,2018-01-12 00:47:17,2018-01-12 00:55:40,1.0,1.80,1.0,Y,239,43,1.0,8.5,2.5,0.5,2.35,0.0,0.3,14.15,2.5,0.0

In [47]:
# convert columns to correct datatypes
convert_columns_float = {
                    'trip_distance': float, 
                    'fare_amount': float, 
                    'extra': float, 
                    'mta_tax': float,
                    'tip_amount': float,
                    'tolls_amount': float,
                    'improvement_surcharge': float,
                    'total_amount': float,
                    'congestion_surcharge': float,
                    'airport_fee': float
                    }
convert_columns_int = {
                    'passenger_count': int,
                    'RatecodeID': int, 
                    'payment_type': int, 
                     }

for column in convert_columns_float.keys():
    nyc_taxi_data_2016_2022[column] = pd.to_numeric(nyc_taxi_data_2016_2022[column], errors='coerce')
for column in convert_columns_int.keys():
    nyc_taxi_data_2016_2022[column] = pd.to_numeric(nyc_taxi_data_2016_2022[column], errors='coerce')
nyc_taxi_data_2016_2022.astype(convert_columns)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,7,1,2022-10-01 00:02:42,2022-10-01 00:50:01,1,12.20,1,N,100,22,1,41.0,3.0,0.5,3.00,0.0,0.3,47.80,2.5,0.0
1,19,2,2022-10-01 00:22:29,2022-10-01 00:33:53,2,1.67,1,N,249,224,1,8.5,0.5,0.5,2.46,0.0,0.3,14.76,2.5,0.0
2,36,2,2022-10-01 00:24:59,2022-10-01 00:52:10,1,5.68,1,N,163,129,1,22.0,0.5,0.5,5.00,0.0,0.3,30.80,2.5,0.0
3,69,2,2022-10-01 00:08:34,2022-10-01 00:25:20,1,1.84,1,N,125,87,1,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,0.0
4,73,2,2022-10-01 00:57:39,2022-10-01 01:25:22,3,9.17,1,N,231,198,1,29.5,0.5,0.5,8.32,0.0,0.3,41.62,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3352902,2820920,1,2021-09-30 23:44:36,2021-09-30 23:54:38,1,1.90,1,N,161,137,2,9.0,3.0,0.5,0.00,0.0,0.3,12.80,2.5,0.0
3352903,2820928,2,2021-09-30 23:08:51,2021-09-30 23:19:21,1,2.06,1,N,142,229,1,9.5,0.5,0.5,1.25,0.0,0.3,14.55,2.5,0.0
3510833,2924,1,2020-12-01 07:50:43,2020-12-01 07:50:58,1,0.10,1,Y,19,19,3,2.5,0.0,0.5,0.00,0.0,0.3,3.30,0.0,0.0
4109352,182399,1,2020-11-04 23:55:03,2020-11-05 00:00:01,1,1.40,1,Y,186,137,1,6.5,3.0,0.5,2.00,0.0,0.3,12.30,2.5,0.0
10215033,2788636,1,2018-01-12 00:47:17,2018-01-12 00:55:40,1,1.80,1,Y,239,43,1,8.5,2.5,0.5,2.35,0.0,0.3,14.15,2.5,0.0

In [ ]:
# parse dates

In [49]:
nyc_taxi_data_2016_2022.dtypes

Unnamed: 0                object
VendorID                  object
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count             int8
trip_distance            float64
RatecodeID                  int8
store_and_fwd_flag        object
PULocationID              object
DOLocationID              object
payment_type                int8
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
airport_fee              float64
dtype: object

In [50]:
nyc_taxi_data_2016_2022.describe()

,passenger_count,trip_distance,RatecodeID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,3.015458e+06,3.015458e+06,3.015458e+06,3.015458e+06,3.015458e+06,3.015458e+06,3.015458e+06,3.015458e+06,3.015458e+06,3.015458e+06,3.015458e+06,3.015458e+06,3.015458e+06
mean,1.413884e+00,3.347857e+00,1.289313e+00,1.237291e+00,1.390584e+01,1.038801e+00,4.899913e-01,2.570545e+00,4.681205e-01,2.963994e-01,2.044659e+01,2.287500e+00,8.629618e-02
std,9.959265e-01,1.361130e+01,4.647087e+00,4.714343e-01,1.749637e+01,1.248301e+00,8.843853e-02,3.085281e+00,1.873183e+00,4.592673e-02,2.009847e+01,7.379661e-01,3.195633e-01
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-8.000000e+02,-4.500000e+00,-5.000000e-01,-9.800000e+01,-3.450000e+01,-3.000000e-01,-7.903000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,1.100000e+00,1.000000e+00,1.000000e+00,7.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.180000e+01,2.500000e+00,0.000000e+00
50%,1.000000e+00,1.830000e+00,1.000000e+00,1.000000e+00,1.000000e+01,5.000000e-01,5.000000e-01,2.060000e+00,0.000000e+00,3.000000e-01,1.536000e+01,2.500000e+00,0.000000e+00
75%,1.000000e+00,3.360000e+00,1.000000e+00,1.000000e+00,1.550000e+01,2.500000e+00,5.000000e-01,3.200000e+00,0.000000e+00,3.000000e-01,2.180000e+01,2.500000e+00,0.000000e+00
max,1.120000e+02,1.461450e+04,9.900000e+01,4.000000e+00,6.989500e+03,1.155000e+01,4.550000e+00,4.000000e+02,1.933000e+02,1.000000e+00,7.000600e+03,2.750000e+00,1.250000e+00