In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [2]:
kaggle_dataset = pd.read_csv('data/taxi_trip_data.csv', nrows = 15_000_000)

In [4]:
kaggle_dataset.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id
0,2,2018-03-29 13:37:13,2018-03-29 14:17:01,1,18.15,3,N,1,70.0,0.0,0.0,16.16,10.50,0.3,96.96,161,1
1,2,2018-03-29 13:37:18,2018-03-29 14:15:33,1,4.59,1,N,1,25.0,0.0,0.5,5.16,0.00,0.3,30.96,13,230
2,2,2018-03-29 13:26:57,2018-03-29 13:28:03,1,0.30,1,N,1,3.0,0.0,0.5,0.76,0.00,0.3,4.56,231,231
3,2,2018-03-29 13:07:48,2018-03-29 14:03:05,2,16.97,1,N,1,49.5,0.0,0.5,5.61,5.76,0.3,61.67,231,138
4,2,2018-03-29 14:19:11,2018-03-29 15:19:59,5,14.45,1,N,1,45.5,0.0,0.5,10.41,5.76,0.3,62.47,87,138

In [7]:
kaggle_dataset.dtypes

vendor_id                int64
pickup_datetime         object
dropoff_datetime        object
passenger_count          int64
trip_distance          float64
rate_code                int64
store_and_fwd_flag      object
payment_type             int64
fare_amount            float64
extra                  float64
mta_tax                float64
tip_amount             float64
tolls_amount           float64
imp_surcharge          float64
total_amount           float64
pickup_location_id       int64
dropoff_location_id      int64
dtype: object

In [59]:
# read entire dataset (~40gb)
nyc_2016_2022 = pd.read_csv('data/nyc_taxi_data_2016_2022.csv')

KeyboardInterrupt:

In [2]:
# read random sample of dataset (about 5%)
nyc_2016_2022 = pd.read_csv('data/nyc_taxi_data_2016_2022.csv', index_col = 0, header = 0, skiprows = lambda i: i > 0 and random.random() > 0.05)

In [3]:
# read first few tows
nyc_2016_2022.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
Unnamed: 0,,,,,,,,,,,,,,,,,,,
13,1,2022-10-01 00:38:53,2022-10-01 00:48:13,2.0,1.4,1.0,N,230,68,1,8.5,3.0,0.5,3.05,0.0,0.3,15.35,2.5,0.0
56,1,2022-10-01 00:56:00,2022-10-01 01:01:00,2.0,1.2,1.0,N,142,239,1,6.0,3.0,0.5,2.9,0.0,0.3,12.7,2.5,0.0
75,2,2022-09-30 23:56:26,2022-10-01 00:06:06,1.0,1.3,1.0,N,161,48,2,8.0,0.5,0.5,0.0,0.0,0.3,11.8,2.5,0.0
94,2,2022-09-30 23:56:55,2022-10-01 00:01:19,1.0,1.04,1.0,N,239,151,1,5.5,0.5,0.5,2.32,0.0,0.3,11.62,2.5,0.0
99,1,2022-10-01 00:04:45,2022-10-01 00:20:23,0.0,2.3,1.0,N,41,42,2,12.0,0.5,0.5,0.0,0.0,0.3,13.3,0.0,0.0

In [4]:
# check datatypes
nyc_2016_2022.dtypes

VendorID                 object
tpep_pickup_datetime     object
tpep_dropoff_datetime    object
passenger_count          object
trip_distance            object
RatecodeID               object
store_and_fwd_flag       object
PULocationID             object
DOLocationID             object
payment_type             object
fare_amount              object
extra                    object
mta_tax                  object
tip_amount               object
tolls_amount             object
improvement_surcharge    object
total_amount             object
congestion_surcharge     object
airport_fee              object
dtype: object

In [5]:
# find null columns
nyc_2016_2022.isnull().sum().sort_index()/len(nyc_2016_2022)

DOLocationID             0.000000
PULocationID             0.000000
RatecodeID               0.009904
VendorID                 0.000000
airport_fee              0.851999
congestion_surcharge     0.588224
extra                    0.000000
fare_amount              0.000000
improvement_surcharge    0.000000
mta_tax                  0.000000
passenger_count          0.009904
payment_type             0.000000
store_and_fwd_flag       0.009904
tip_amount               0.000000
tolls_amount             0.000000
total_amount             0.000000
tpep_dropoff_datetime    0.000000
tpep_pickup_datetime     0.000000
trip_distance            0.000000
dtype: float64

In [9]:
# remove null values, fill missed values with 0
nyc_2016_2022.dropna(subset=['RatecodeID', 'airport_fee', 'congestion_surcharge', 'passenger_count', 'store_and_fwd_flag'], inplace = True)
nyc_2016_2022.fillna(0)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
Unnamed: 0,,,,,,,,,,,,,,,,,,,
13,1,2022-10-01 00:38:53,2022-10-01 00:48:13,2.0,1.40,1.0,N,230.0,68.0,1.0,8.5,3.0,0.5,3.05,0.0,0.3,15.35,2.5,0.0
56,1,2022-10-01 00:56:00,2022-10-01 01:01:00,2.0,1.20,1.0,N,142.0,239.0,1.0,6.0,3.0,0.5,2.90,0.0,0.3,12.70,2.5,0.0
75,2,2022-09-30 23:56:26,2022-10-01 00:06:06,1.0,1.30,1.0,N,161.0,48.0,2.0,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
94,2,2022-09-30 23:56:55,2022-10-01 00:01:19,1.0,1.04,1.0,N,239.0,151.0,1.0,5.5,0.5,0.5,2.32,0.0,0.3,11.62,2.5,0.0
99,1,2022-10-01 00:04:45,2022-10-01 00:20:23,0.0,2.30,1.0,N,41.0,42.0,2.0,12.0,0.5,0.5,0.00,0.0,0.3,13.30,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2820931,2,2021-09-30 23:37:13,2021-09-30 23:41:23,1.0,0.70,1.0,N,79.0,148.0,1.0,5.0,0.5,0.5,1.00,0.0,0.3,9.80,2.5,0.0
2820937,2,2021-09-30 23:16:18,2021-09-30 23:38:27,1.0,4.07,1.0,N,79.0,17.0,1.0,18.0,0.5,0.5,4.36,0.0,0.3,26.16,2.5,0.0
169930,1,2020-11-04 17:53:18,2020-11-04 17:58:48,1.0,0.60,1.0,Y,42.0,42.0,2.0,5.5,1.0,0.5,0.00,0.0,0.3,7.30,0.0,0.0
176194,1,2020-11-04 19:13:08,2020-11-04 19:32:30,1.0,4.40,1.0,Y,143.0,79.0,1.0,17.0,3.5,0.5,1.00,0.0,0.3,22.30,2.5,0.0
179990,1,2020-11-04 21:56:18,2020-11-04 22:03:47,2.0,1.50,1.0,Y,79.0,232.0,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,0.0

In [10]:
# convert columns to correct datatypes
convert_columns_float = {
                    'trip_distance': float, 
                    'fare_amount': float, 
                    'extra': float, 
                    'mta_tax': float,
                    'tip_amount': float,
                    'tolls_amount': float,
                    'improvement_surcharge': float,
                    'total_amount': float,
                    'congestion_surcharge': float,
                    'airport_fee': float
                    }
convert_columns_int = {
                    'passenger_count': int,
                    'RatecodeID': int, 
                    'payment_type': int, 
                    'PULocationID': int,
                    'DOLocationID': int
                     }

for column in convert_columns_float.keys():
    nyc_2016_2022[column] = pd.to_numeric(nyc_2016_2022[column], errors='coerce')
for column in convert_columns_int.keys():
    nyc_2016_2022[column] = pd.to_numeric(nyc_2016_2022[column], downcast= 'signed', errors='coerce')
# nyc_2016_2022.astype(convert_columns_float)
# nyc_2016_2022.astype(convert_columns_int)

In [11]:
# parse dates
# if does not work run previous two cells again
nyc_2016_2022['tpep_pickup_datetime'] = pd.to_datetime(nyc_2016_2022['tpep_pickup_datetime'])
nyc_2016_2022['tpep_dropoff_datetime'] = pd.to_datetime(nyc_2016_2022['tpep_dropoff_datetime'])

In [12]:
nyc_2016_2022.dtypes

VendorID                         object
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                    int8
trip_distance                   float64
RatecodeID                         int8
store_and_fwd_flag               object
PULocationID                      int16
DOLocationID                      int16
payment_type                       int8
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [13]:
nyc_2016_2022.describe()

,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06,3.011385e+06
mean,1.412633e+00,3.345794e+00,1.288712e+00,1.649434e+02,1.628865e+02,1.236898e+00,1.387867e+01,1.039501e+00,4.901255e-01,2.567725e+00,4.678675e-01,2.964504e-01,2.041689e+01,2.287737e+00,8.627094e-02
std,9.948025e-01,3.160178e+01,4.646310e+00,6.517899e+01,7.022865e+01,4.703113e-01,1.511524e+01,1.248968e+00,8.779848e-02,3.192001e+00,2.023796e+00,4.558928e-02,1.808908e+01,7.369781e-01,3.194172e-01
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-2.564000e+03,-4.500000e+00,-5.500000e-01,-3.333200e+02,-7.000000e+01,-3.000000e-01,-2.567800e+03,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,1.100000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,7.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.180000e+01,2.500000e+00,0.000000e+00
50%,1.000000e+00,1.830000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.000000e+01,5.000000e-01,5.000000e-01,2.060000e+00,0.000000e+00,3.000000e-01,1.536000e+01,2.500000e+00,0.000000e+00
75%,1.000000e+00,3.350000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,1.550000e+01,2.500000e+00,5.000000e-01,3.200000e+00,0.000000e+00,3.000000e-01,2.180000e+01,2.500000e+00,0.000000e+00
max,1.120000e+02,5.344055e+04,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,7.006000e+03,1.855000e+01,3.300000e+00,1.393860e+03,9.118700e+02,1.000000e+00,7.017100e+03,2.750000e+00,1.250000e+00

In [14]:
# remove data that does not make sense: 
# negative extra, mta_tax, tip_amount, tolls_amount, etc
# fare amount starts at $3.00 for yellow cab
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['fare_amount'] < 3].index, axis = 0)
# getting rid of fare amounts costing hundreds / thousands of dollars
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['fare_amount'] > 300].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['extra'] < 0].index, axis = 0)
# mta tax starts at $0.50
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['mta_tax'] < 0.5].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['tip_amount'] < 0].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['tolls_amount'] < 0].index, axis = 0)
# improvement surcharge starts at $0.30
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['improvement_surcharge'] < 0.3].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['total_amount'] < 0].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['congestion_surcharge'] < 0].index, axis = 0)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['airport_fee'] < 0].index, axis = 0)
# remove passenger count over 6 (maximum possible 6 by New York Law)
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['passenger_count'] > 6].index, axis = 0)
# removing huge trip distances, NYC is about 300 sq feet
nyc_2016_2022 = nyc_2016_2022.drop(nyc_2016_2022[nyc_2016_2022['trip_distance'] > 300].index, axis = 0)

In [15]:
# extracting possible useful features
nyc_2016_2022['fare_per_mile'] = nyc_2016_2022['fare_amount'] / nyc_2016_2022['trip_distance']
nyc_2016_2022['year'] = nyc_2016_2022.tpep_pickup_datetime.dt.year
nyc_2016_2022['month'] = nyc_2016_2022.tpep_pickup_datetime.dt.day
nyc_2016_2022['day_of_week'] = nyc_2016_2022.tpep_pickup_datetime.dt.weekday
nyc_2016_2022['day_of_month'] = nyc_2016_2022.tpep_pickup_datetime.dt.month
nyc_2016_2022['hour'] = nyc_2016_2022.tpep_pickup_datetime.dt.hour
nyc_2016_2022['minute'] = nyc_2016_2022.tpep_pickup_datetime.dt.minute
nyc_2016_2022['second'] = nyc_2016_2022.tpep_pickup_datetime.dt.second

In [16]:
# drop datetime param since features extracted
nyc_2016_2022.drop(columns = ['tpep_pickup_datetime', 'tpep_dropoff_datetime'], inplace = True)

In [17]:
nyc_2016_2022.drop(columns = ['store_and_fwd_flag'], inplace = True)

In [18]:
nyc_2016_2022.head()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,...,congestion_surcharge,airport_fee,fare_per_mile,year,month,day_of_week,day_of_month,hour,minute,second
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
13,1,2,1.40,1,230,68,1,8.5,3.0,0.5,...,2.5,0.0,6.071429,2022,1,5,10,0,38,53
56,1,2,1.20,1,142,239,1,6.0,3.0,0.5,...,2.5,0.0,5.000000,2022,1,5,10,0,56,0
75,2,1,1.30,1,161,48,2,8.0,0.5,0.5,...,2.5,0.0,6.153846,2022,30,4,9,23,56,26
94,2,1,1.04,1,239,151,1,5.5,0.5,0.5,...,2.5,0.0,5.288462,2022,30,4,9,23,56,55
99,1,0,2.30,1,41,42,2,12.0,0.5,0.5,...,0.0,0.0,5.217391,2022,1,5,10,0,4,45

In [19]:
nyc_2016_2022.dtypes

VendorID                  object
passenger_count             int8
trip_distance            float64
RatecodeID                  int8
PULocationID               int16
DOLocationID               int16
payment_type                int8
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
airport_fee              float64
fare_per_mile            float64
year                       int64
month                      int64
day_of_week                int64
day_of_month               int64
hour                       int64
minute                     int64
second                     int64
dtype: object

In [128]:
# splitting data
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [21]:
nyc_2016_2022.replace([np.inf, -np.inf], np.nan, inplace=True)
nyc_2016_2022.fillna(0, inplace=True)

In [22]:
X = nyc_2016_2022.iloc[:, nyc_2016_2022.columns != "fare_amount"]
y = nyc_2016_2022['fare_amount']

In [23]:
print(X.shape)

(2926572, 23)

In [115]:
# backward feature selection removing all but k highest scoring features
# big change in error between k = 2 through 6, very small change between 6 and 7
X_new = SelectKBest(f_regression, k = 6).fit_transform(X, y)

In [116]:
print(X_new.shape)

(2926572, 7)

In [117]:
X_train, X_valid, y_train, y_valid = train_test_split(X_new, y, train_size = 0.8, test_size = 0.2, random_state = 42, shuffle = True)

In [118]:
# normalize data
scaler = StandardScaler()

In [119]:
X_train = scaler.fit_transform(X_train)

In [120]:
X_valid = scaler.transform(X_valid)

In [121]:
linReg = LinearRegression()

In [122]:
linReg.fit(X_train, y_train)

LinearRegression()

In [123]:
y_predicted = linReg.predict(X_valid)

In [124]:
print('Validation Root Mean Squared Error: ', np.sqrt(mean_squared_error(y_valid, y_predicted)))

Validation Root Mean Squared Error:  0.5145148410835819

In [125]:
print('Validation Mean Absolute Error', mean_absolute_error(y_valid, y_predicted))

Validation Mean Absolute Error 0.3856928646572259